p {
  margin: 10px;
}

  
.card {
  background: rgba(211, 210, 210, 0.548) !important;
  border: solid rgba(73, 70, 71, 0.555) !important;
  margin: 10px;
  min-height: 100%;
  height: auto;
  align-items: "center"
}

.btn {
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: RGB(247,247,223) !important;
  padding: 10px;
  border: solid rgba(73, 70, 71, 0.555)!important;
  border-color: black;
  transition: all 0.4s ease 0s;
  width: 50%;
  justify-content: center;
  margin: 0 auto;
}

.btn:hover {
  color: #ffffff;
  background: #0c7e1bb4 !important;
  border-color:  #494949 !important;
  transition: all 0.4s ease 0s;
}

