ul {
    list-style-type: none; 
    margin: 0; padding: 0;
}

p {
    text-align: left;
    font-family: poppins;
}

h1, h2, h3, h4 {
    font-family: poppins;  
}

.header {
    text-decoration: underline;
    font-family: poppins;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 20px
}

.skillsBtn {
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    background: RGB(247,247,223);
    padding: 10px;
    border: solid rgba(73, 70, 71, 0.555)!important;
    transition: all 0.4s ease 0s;
    width: 25%;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
  }
  
.skillsBtn:hover {
    color: #ffffff;
    background: #0c7e1bb4;
    border-color:  #494949;
    transition: all 0.4s ease 0s;
  }